<div class="container contents">
  <div class="row">
    {{toc "Part 1" "assets/call-center.jpg"}}

    {{toc "Part 2" "assets/call-center.jpg"}}

    {{toc "Part 3" "assets/call-center.jpg"}}
  </div>
</div>
