<div class="container contents">
  <div class="row">
    <div class="clearfix">
      {{toc "Part 1" "assets/deacon3.jpg"}}

      {{toc "Part 2" "assets/falencia2.jpg"}}
    </div>
    <div class="clearfix">
      {{toc "Part 3" "assets/stacycasey2.jpg"}}
    </div>
  </div>
</div>
