<div class="container contents">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h6>Part 1</h6>
      <h2>What part 1 is about</h2>
      <img class="img-responsive" src="assets/call-center.jpg" />
      <ul>
        <li>
          <h4>Main story headline</h4>
          <p>and 2013 with cases already opened by child protection workers.<p>
        </li>
        <li>
          <h4>Main story headline</h4>
          <p>and 2013 with cases already opened by child protection workers.<p>
        </li>
        <li>
          <h4>Main story headline</h4>
          <p>and 2013 with cases already opened by child protection workers.<p>
        </li>
        <li>
          <h4>Main story headline</h4>
          <p>and 2013 with cases already opened by child protection workers.<p>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4">
      <h6>Part 2</h6>
      <h2>What is part 2 about</h2>
      <img class="img-responsive" src="assets/stacy-casey.jpg" />
    </div>

    <div class="col-xs-12 col-sm-4">
      <h6>Part 3</h6>
      <h2>What part 3 is about</h2>
      <img class="img-responsive" src="assets/call-center.jpg" />
    </div>
  </div>
</div>

<hr />
