<div class="container contents">
  <div class="row">
    <div class="clearfix">
      {{toc "Part 1" "assets/toc-part1.jpg"}}

      {{toc "Part 2" "assets/toc-part2.jpg"}}
    </div>
    <div class="clearfix">
      {{toc "Part 3" "assets/toc-part3.jpg"}}

      <div class="col-xs-12 col-md-6">
        <h2>Ongoing coverage</h2>

        <div class="row">

          <div class="col-xs-12 col-sm-5 col-lg-7">
            <img class="img-responsive" src="assets/toc-ongoing.jpg">
          </div>

          <div class="col-xs-12 col-sm-7 col-lg-5">
            <ul class="list-unstyled">
              <li>
                <a href="uresti-cps-bill.html">
                  <h4>Investigation spurs lawmakers’ call for child protection agency changes</h4>
                </a>
                <p>Declaring that the agency charged with protecting Texas children isn’t giving the public a full accounting of the state’s abuse and neglect fatalities, a state legislator said he will push for new law compelling Child Protective Services to release details on every abuse-related death it investigates.</p>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </div>
    <div class="clearfix">

      <div class="col-xs-12 col-md-6">
        <h2>Data explorer</h2>

        <div class="row">

          <div class="col-xs-12 col-sm-5 col-lg-7">
            <img class="img-responsive" src="assets/toc-explorer.jpg">
          </div>

          <div class="col-xs-12 col-sm-7 col-lg-5">
            <ul class="list-unstyled">
              <li>
                <a href="explorer.html">
                  <h4>Child abuse and neglect fatality database</h4>
                </a>
                <p>See every child fatality report and many of the important data points that were used in this project. Those data points and the associated analysis represents the only comprehensive review of the reports since the state was required in 2009 by lawmakers to generate them.</p>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
