<div class="container hero">
  <div class="row">
    <div class="mobile-header">
      <h6>Missed Signs, Failed Consequences: Part 3</h6>
      <h1>Agency has faced uphill battle</h1>
    </div>

    <div class="img-wrapper">
      <img class="img-responsive" src="assets/caseworker-8.jpg" />
      <span class="img-overlay bottom-right">
        <h6>Missed Signs, Failed Consequences: Part 3</h6>
        <h1>Agency has faced uphill battle</h1>
        <p>Child Protective Services has struggled with high turnover as caseworkers face danger and extreme stress, in some cases lying or falsifying records in an attempt to keep up with overwhelming workloads. But agency officials are optimistic about a new overhaul plan and efforts to identify high-risk cases early.</p>
      </span>
    </div>

    <div class="mobile-header">
      <p>Child Protective Services has struggled with high turnover as caseworkers face danger and extreme stress, in some cases lying or falsifying records in an attempt to keep up with overwhelming workloads. But agency officials are optimistic about a new overhaul plan and efforts to identify high-risk cases early.</p>
    </div>

    <ul class="nav navbar-nav hero-nav">
      <li class="hero-nav-header">Inside part 1</li>
      {{subNavLinks 'superHero'}}
    </ul>
  </div>
</div>
<div id="skip-hero"></div>
