<div class="container hero hero-p1">
  <div class="row">
    <div class="mobile-header">
      <h6>Missed Signs,<br />Fatal Consequences: Part 1</h6>
      <h1>Fatality reports are eye-opening</h1>
    </div>

    <div class="img-wrapper">
      <img class="img-responsive" src="assets/hero-part1.jpg" />
      <span class="img-overlay top-left">
        <h6>Missed Signs,<br />Fatal Consequences: Part 1</h6>
        <h1>Fatality reports are eye-opening</h1>
        <p>An American-Statesman analysis of child fatality reports – which are not comprehensively reviewed by the state – reveals that in many death cases, families already had a history with CPS. And a loophole allows other abuse-related deaths to go unreported to the public, distorting the official tally.</p>
      </span>
    </div>

    <div class="mobile-header">
      <p>An American-Statesman analysis of child fatality reports – which are not comprehensively reviewed by the state – reveals that in many death cases, families already had a history with CPS. And a loophole allows other abuse-related deaths to go unreported to the public, distorting the official tally.</p>
    </div>

    <ul class="nav navbar-nav hero-nav">
      <li class="hero-nav-header">Inside part 1</li>
      {{subNavLinks 'superHero'}}
    </ul>
  </div>
</div>
<div id="skip-hero"></div>
