<div class="container hero">
  <div class="row">
    <div class="img-wrapper">
      <img class="img-responsive" src="assets/deacon3.jpg" />
      <span class="img-overlay top-left">
        <h6>Part 1: What is part 1</h6>
        <h1>Some chatter about part 1</h1>
        <p>Instead, the approximately 800 child fatality reports written between 2009 and March 2014 have been dutifully produced, and then filed way. The state doesn’t comprehensively review the reports. Neither do child welfare advocates.</p>
      </span>
    </div>

    <ul class="nav navbar-nav hero-nav">
      {{subNavLinks 'superHero'}}
    </ul>
  </div>
</div>
<div id="skip-hero"></div>
