<!-- begin member_center_override block -->
<i
    class="jsinclude"
    style="display:none"
    data-key="mc_prod"
    data-value="false"
    data-literal="true"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="mc_connext_on"
    data-value="true"
    data-literal="true"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="mc_connext_meter_on"
    data-value="true"
    data-literal="true"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="mc_console_logging_enabled"
    data-value="true"
    data-literal="true"
></i>
<!-- end member_center_override block -->

<i
    class="jsinclude"
    style="display:none"
    data-key="currentSite"
    data-value="//dev.mystatesman.com"
    data-literal="false"
></i>
<!-- begin retargeting_pixels_header_override block -->
                <div class="retargeting-pixel retargeting-pixel-header" style="display:none">
    </div>
<!-- end retargeting_pixels_header_override block -->
                <!-- begin janrain_override block -->
                <i
    class="jsinclude"
    style="display:none"
    data-key="jr_backplaneBusName"
    data-value="coxmediagroup-dev"
    data-literal="false"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="jr_backplaneVersion"
    data-value=""
    data-literal="false"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="jr_captureServer"
    data-value="https://cmg.dev.janraincapture.com/"
    data-literal="false"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="jr_appId"
    data-value="u8wz9dtmm99upmpu52bazczfq3"
    data-literal="false"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="jr_federateServer"
    data-value="https://cmg-dev.janrainsso.com/"
    data-literal="false"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="jr_clientId"
    data-value="xycuvpx9w9xfh772mu93kd5mkg7a3a59"
    data-literal="false"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="jr_socialLoginAppId"
    data-value="nlhkaabgfmcjjajgdhdj"
    data-literal="false"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="jr_socialLoginAppUrl"
    data-value="https://cmg-dev.rpxnow.com"
    data-literal="false"
></i>
<i
    class="jsinclude"
    style="display:none"
    data-key="currentSite"
    data-value="//dev.mystatesman.com"
    data-literal="false"
></i>
