<p><strong>Age:</strong> {{age}}</p>
<p><strong>Date of death:</strong> {{dod}}</p>
<p><strong>Manner of death:</strong> {{manner}}</p>
<ul class="list-inline">
  <li><a href="docs.html?doc={{dc_id}}" target="_blank"><i class="fa fa-file-text"></i> Read report</a></li>
  <li><a href="#"><i class="fa fa-area-chart"></i> View in database</a></li>
</ul>
