<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <title id="maintitle">{{page.title}}</title>

  {{> styles}}

  {{> cmg-header-scripts}}
</head>
<body class="explorer loading">

  {{{body}}}

  <script src="dist/explorer.js"></script>

  {{> cmg-footer-scripts}}

</body>
</html>
