<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <title>{{page.title}} | Austin American-Statesman</title>

  <link rel="icon" type="image/png" href="//projects.statesman.com/common/favicon.ico">

  {{> meta}}
  <meta name="twitter:creator" content="@adchavez" />
  <meta name="twitter:creator" content="@crit" />
  <meta name="twitter:creator" content="@andreeball" />
  <meta name="twitter:creator" content="@dexinvestigates" />

  {{> styles}}

  {{> cmg-header-scripts}}
  {{> wrap-metrics}}
</head>
<body class="explorer loading">
  {{> wrap-member-center }}

  {{{body}}}

  <script src="dist/story-plain.js"></script>
  <script src="dist/explorer.js"></script>
  <script type="text/javascript">
  function getCPSByline() {
    var elByline = document.querySelectorAll('.author')[0];
    return elByline.innerText
             .split(' /')[0]
             .replace('By ', '')
             .replace(', ', ',').replace(', ', ',')
             .replace(' and ', ',').toLowerCase();
  }

  DDO.contentData.contentByline = getCPSByline() || '';
  </script>

  {{> cmg-footer-scripts}}

</body>
</html>
