<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <title>{{page.title}} | Austin American-Statesman</title>

  {{> meta}}
  <meta name="twitter:creator" content="@andreeball" />
  <meta name="twitter:creator" content="@dexinvestigates" />

  <link rel="icon" type="image/png" href="//projects.statesman.com/common/favicon.ico">

  <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One&text=MISEDGN.FATLCOQU' rel='stylesheet' type='text/css'>

  {{> styles}}

  {{> cmg-header-scripts}}
  {{> wrap-metrics}}

  <script type="text/javascript" src="//cdn.sublimevideo.net/js/xlgzbpav.js"></script>
</head>
<body class="overview">
  {{> wrap-member-center }}
  {{> navbar-super}}

  {{> navbar-thin}}

  {{{body}}}

  {{> cmg-footer-scripts}}

  {{> scripts}}

</body>
</html>
