.contents {

  h6 {
    margin-bottom: 8px;
  }
  h2 {
    font-size: 24px;
  }
  ul {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: @line-height-computed / 2;

    li {
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: @line-height-computed / 2;
      }

      h4 {
        font-size: 25px;
        font-weight: 200;
        margin-top: 0;
        margin-bottom: 4px;
      }

    }
  }
  img {
    .box-shadow(0 0 25px rgba(0,0,0,0.05));

    @media (max-width: @screen-xs-max) {
      margin-bottom: @line-height-computed;
    }
  }

}
