.contents {
  .row > div {

    h6 {
      margin-bottom: 8px;
    }
    h2 {
      font-size: 24px;
    }
    ul {
      margin-top: 0;
      padding-top: @line-height-computed / 2;
      padding-bottom: @line-height-computed / 2;

      li {
        margin-bottom: @line-height-computed;

        &:last-child {
          margin-bottom: @line-height-computed / 2;
        }

        h4 {
          margin-bottom: 8px;
        }

      }
    }
  }
}
