@import 'dc';

.explorer {
  .navbar-thin {
    position: relative;
  }
}

#explorer-wrapper {
  background: white;
}

.intro {
  width: 80%;
  margin-left: 10%;
}
h1.intro {
  margin-top: 0;
}
hr.intro {
  margin: @line-height-computed auto;
}
p.intro {
  margin-top: @line-height-computed;
  margin-bottom: @line-height-computed * 2;
}

#explorer-intro {
  @male-color: #6595EC;
  @female-color: #FFABF1;

  .overview-item {
    color: @gray-lighter;
    font-size: 15px;
    float: left;
    cursor: pointer;

    &.active {
      &.gender-M {
        color: @male-color;
      }
      &.gender-F {
        color: @female-color;
      }
      &.gender- {
        color: darken(@gray-lighter, 20%);
      }
    }
  }

  #grid-wrapper {
    position: relative;
    height: 150px;
    #grid, #grid-2 {
      width: 100%;
    }
    #grid {
      z-index: 5;
      position: relative;
    }
    #grid-2 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
}

.fade-in {
  opacity: 0;
}

// Charts
text {
  font-family: @font-family-sans-serif;
  font-size: 12px;
}
