@import 'dc';

.explorer {
  .navbar-thin {
    position: relative;
  }

  &.explorer-active {
    .fade-in,
    .explorer-header {
      display: block;
      opacity: 1;
    }
    .intro {
      display: none;
    }
  }
}

body.loading {
  .explorer-slices {
    > div {
      border-right: none;
    }
  }

  hr {
    border: none;
  }
}

.explorer-slices {
  margin-bottom: @line-height-computed / 2;

  h4 {
    font-family: @font-family-sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15.5px;
    line-height: 20px;
  }

  > div {
    border-right: 1px solid @gray-lighter;
    margin-right: -1px;
    min-height: 170px;
    &:last-child {
      border-right: none;
    }
  }

  p {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 5px;
  }

  ul {
    margin-bottom: 0;
    a {
      font-size: 11px;
    }
  }
}

.explorer-header {
  > p {
    font-size: 12.5px;
  }
}

#explorer-wrapper {
  background: white;
}

#explorer-intro {
  @male-color: #6595EC;
  @female-color: #FFABF1;

  .overview-item {
    color: @gray-lighter;
    font-size: 18px;
    margin-right: 1px;
    float: left;
    cursor: pointer;

    &.active {
      &.gender-M {
        color: @male-color;
      }
      &.gender-F {
        color: @female-color;
      }
      &.gender- {
        color: darken(@gray-lighter, 20%);
      }
    }
  }

  #grid-wrapper {
    position: relative;
    height: 190px;
    #grid, #grid-2 {
      width: 100%;
    }
    #grid {
      z-index: 5;
      position: relative;
    }
    #grid-2 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
}

// Charts
text {
  font-family: @font-family-sans-serif;
  font-size: 12px;
}

#cod-chart {
  margin-left: -5px;
}

.dc-chart {
  margin-right: 25px;

  .reset {
    margin-left: 5px;
    font-size: 11px;
    font-style: normal;
    color: #ca3a29;
  }
}
@media (min-width: @screen-lg-min) {
  #previous-investigations-chart,
  #dod-chart {
    margin-right: 0;
  }
}

// One of our custom filters is active
.explorer-sliced {
  .explorer-slices {
    > .filter {
      opacity: .5;

      &.active-filter {
        opacity: 1;

        .fa-angle-double-right {
          display: inline;
        }
      }

    }
  }
}
.explorer-slices {
  .fa-angle-double-right {
    display: none;
  }
}

// The big filter clearer
a.filter-clear{
  color: #ca3a29;
  display: none;
}
// Any filter is active
.explorer-filtered {
  a.filter-clear {
    display: inline;
  }
}


#total {
  text-align: center;
  font-size: 18px;

  strong {
    font-size: 70px;
    line-height: 80px;
  }
}
