.hero {
  margin-bottom: 25px;
  .img-wrapper {
    @media (min-width: @screen-sm-min) {
      border-bottom: 5px solid @brand-primary;
    }
    box-shadow: 0 0 25px rgba(0,0,0,0.05);
    display: block;
    position: relative;
    .img-overlay {
      @media (max-width: @screen-xs-max) {
        display: none;
      }

      max-width: 300px;
      position: absolute;
      color: #fff;
      color: rgba(255,255,255,0.9);
      text-shadow: 1px 1px 3px rgba(0,0,0,0.5);

      &.top-left {
        text-align: left;
        left: 40px;
        top: 25px;
      }
      &.bottom-right {
        color: #333;
        color: rgba(0,0,0,0.7);
        text-align: right;
        right: 40px;
        bottom: 30px;
        max-width: 595px;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.025);
      }

      h6+h1 {
        margin-top: 8px;
      }

      p {
        font-weight: 600;
      }
    }
  }

  h6 {
    border-bottom: none;
    display: block;
    font-size: 12.5px;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  &.hero-p1 {
    .img-overlay {
      max-width: 330px;
    }
  }

  &.hero-p3 {

    .img-wrapper .img-overlay {
      // Move p3 hero to top right on small breakpoint devices
      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        color: #fff;
        color: rgba(255,255,255,0.95);
        text-shadow: 1px 1px 5px rgba(0,0,0,0.65);
        top: 30px;
        max-width: 300px;
        bottom: auto;
      }
    }
  }

  .mobile-header {
    text-align: center;
    margin: @line-height-computed auto;
    width: 75%;

    h1 {
      margin-top: 8px;
      margin-bottom: 29px;
      font-size: 37px;
    }
    h6 {
      margin-bottom: 8px;
    }

    @media (min-width: @screen-sm-min) {
      display: none;
    }
  }

  .hero-nav {
    margin: 12.5px 0;

    @media (max-width: @screen-xs-max) {
      display: none;
    }

    @media (min-width: @screen-sm-min) {
      margin-top: 0;
    }
    li {
      border-right: 1px solid #ddd;

      &.hero-nav-header {
        background: @brand-primary;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px 0;

        @media (min-width: @screen-sm-min) {
          display: none;
        }
      }
      > a {
        color: @text-color;
        font-family: @font-family-serif;
        font-weight: normal;
        font-size: 16px;
        @media (min-width: @screen-sm-min) {
          padding-top: 20px;
          padding-bottom: 20px;
          margin-left: 10px;
          margin-right: 10px;
        }
        strong {
          font-size: 15px;
          font-family: @font-family-sans-serif;
        }
        &:hover {
          background: none;
        }
      }

      &.active {
      	position: relative;
      	background: #efefef;

        @media (min-width: @screen-sm-min) {
          &:after, &:before {
            bottom: 100%;
            left: 25%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-color: rgba(239, 239, 239, 0);
            border-bottom-color: #efefef;
            border-width: 20px;
            margin-left: -20px;
          }
          &:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: @brand-primary;
            border-width: 27px;
            margin-left: -27px;
          }
        }
      }

    }
  }

  // Special widths for overflowing hero navs
  &.hero-p1 {
    .hero-nav li {
      @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
        max-width: 25%;
        min-height: 134px;
        float: left;
      }
    }
  }
  &.hero-p2 {
    .hero-nav li {
      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        max-width: 33%;
        float: left;
      }
    }
  }
  &.hero-p3 {
    .hero-nav li {
      @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
        max-width: 20%;
        float: left;
        min-height: 157px;
      }
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        min-height: 134px;
      }
    }
  }
}

#skip-hero {
  top: -45px;
  position: relative;
}
