.leaflet-container {
  .leaflet-control {
    font-family: @font-family-sans-serif;
    &.info,
    &.legend {
      background: #fff;
      padding: 8px 12px;
      h4 {
        margin: 2px 0 4px;
      }
    }
    &.legend {
      i {
        border: 1px solid @table-border-color;
        width: 12px;
        height: 13px;
        display: inline-block;
        top: 2px;
        position: relative;
        margin-right: 6px;
      }
    }
  }
}
